@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Rajdhani-400.ttf") format("truetype");
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Rajdhani-500.ttf") format("truetype");
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Rajdhani-600.ttf") format("truetype");
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Rajdhani-700.ttf") format("truetype");
}

@font-face {
  font-family: "Joystix";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Joystix.woff") format("woff");
}

@tailwind base;
@tailwind components;

:root {
  --violet: #8b5cf6;
  --fuchsia: #e879f9;
  --cyan: #22d3ee;
  --void: #0a0911;
  --green: #4ade80;
  --red: #f87171;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--void);
  color: #e2d9f3;
  font-family: "Rajdhani", sans-serif;
  overflow-x: hidden;
}

@tailwind utilities;
